<section class="login">
    <form 
        fxLayout="column"
        fxLayoutAlign="center center"
        #form="ngForm"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
    >
        <mat-form-field>
            <input 
                ngModel
                name="email"
                type="email"
                email
                required
                matInput
                placeholder="Your email"
                formControlName="email"
            />
            <mat-hint>Enter a valid email </mat-hint>
            <mat-error>Invalid or missing email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input 
                ngModel
                name="password"
                type="password"
                matInput
                required
                matInput
                placeholder="Your password"
                formControlName="password"
            />
            <mat-hint >Enter your password</mat-hint>
            <mat-error>Missing password</mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
        >
            Submit
        </button>

    </form>
</section>
